@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&family=Roboto:wght@100;300;400;700;900&display=swap");
@import "../share/color.scss";

div {
  font-family: "Roboto";
}

#join {
  height: 90vh;
  padding: 5vh 5vw;
  display: flex;
  margin: auto;
  align-items: center;
}
#join-box {
  width: 100vw;
}

#menu {
  display: flex;
  width: 100%;
  align-items: center;
}
#menu .menu {
  margin-left: 40px;
  background-color: transparent;
  border: none;
}
#menu .menu:hover {
  cursor: pointer;
}

#body {
  display: flex;
  width: 100%;
}
#body #left {
  width: 48%;
  display: inline-block;
}
#body #left #email {
  display: flex;
  height: 40px;
  margin-bottom: 20px;
  position: relative;
}
#body #right {
  width: 48%;
  margin-left: 4%;
}
#body #right #nic {
  display: flex;
  height: 40px;
  margin-bottom: 20px;
  position: relative;
}

.join {
  display: flex;
  height: 40px;
  width: 70%;
  // min-width:230px;
  border: 1px solid #faf7f7;
  position: relative;
  margin-bottom: 20px;
}
.join .name {
  background-color: $second-color;
  border: 1px solid $second-color;
  width: 90px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  position: absolute;
  left: 0;
}
.join .txt-box {
  width: 100%;
  height: 100%;
  padding-left: 100px;
  border: none;
  font-size: 12px;
  background-color: white;
}
.join .txt-box:focus {
  outline: none;
}

.check-btn {
  margin-left: 20px;
  position: absolute;
  right: 0;
  height: 100%;
  background-color: $gray;
  border-radius: 5px;
  border: none;
  text-align: center;
  width: 100px;
}
.check-btn:hover {
  cursor: pointer;
}

.join-footer {
  height: 170px;
  width: 100%;
  min-width: 800px;
  background-color: #faf7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  font-family: "Roboto";
  overflow-x: auto;
}
#join-service {
  width: 85%;
  height: 80px;
  background-color: #c4c4c4;
  border: 1px solid $gray;
  margin-left: 15px;
}
#join-txt {
  width: calc(100% - 25px);
  height: calc(100% - 10px);
  word-break: break-all;
  overflow-y: auto;
  resize: none;
  background-color: white;
  font-size: 14px;
  padding: 5px;
  border: none;
  text-align: center;
}
#join-txt:focus {
  outline: none;
}
#join-foot {
  margin-bottom: 5px;
}
#join-checkbox {
  width: 14px;
  height: 14px;
}
#agree-box {
  text-align: right;
  font-size: 14px;
  align-items: center;
  display: flex;
  justify-content: center;
}
#join-checkBtn {
  width: 300px;
  height: 40px;
  background-color: $gray;
  border-radius: 5px;
  border: none;
  color: white;
}
#service-box {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
#body-box {
  background-color: $third-color;
  padding: 30px 20px;
  margin-top: 30px;
  padding: 5% 6%;
  display: flex;
  align-items: center;
}
.bbox {
  text-align: center;
}
#checkM {
  display: none;
}
